# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Logs & data
*.log
data/

# OS
Thumbs.db
.DS_Store

# Editor
.vscode/
*.swp
